
<app-form-navigation></app-form-navigation>

<div id="typicalPart" class="block">
    <div>
        <div class="form" style="margin-left: 50px;">
            <br>
            零部件名称:<br>
            <input type="text" [(ngModel)]="AddtypicalpartInfo.name"><br>
    
            零部件编号:<br>
            <input type="text" [(ngModel)]="AddtypicalpartInfo.Code"><br>
    
            应用车型:<br>
            <input type="text" [(ngModel)]="AddtypicalpartInfo.appliedVehicleType"><br>
            备注:<br>
            <input type="text" [(ngModel)]="AddtypicalpartInfo.remark"><br>
    
            <button (click)="Addtypicalpart()">添加零部件</button><br>
    
        </div>
        <div class="form" style="margin-left: 50px;">
            <br>
            零部件Id:<br>
            <input type="text" [(ngModel)]="UpdatetypicalpartInfo.Id"><br>
    
            零部件名称:<br>
            <input type="text" [(ngModel)]="UpdatetypicalpartInfo.Name"><br>
    
            零部件编号:<br>
            <input type="text" [(ngModel)]="UpdatetypicalpartInfo.Code"><br>
    
            应用车型:<br>
            <input type="text" [(ngModel)]="UpdatetypicalpartInfo.AppliedVehicleType"><br>
            备注:<br>
            <input type="text" [(ngModel)]="UpdatetypicalpartInfo.Remark"><br>
    
            <button (click)="Updatetypicalpart()">更新零部件</button>
    
        </div>
        
    </div>
</div>
<div id="lizhi">
    <h3 id="wyyy"> <strong>典型零部件列表</strong></h3>
    <button id="shuaxin" (click)="Shuaxintypicalpart()">刷新</button>
    <hr class="solid-hr" />
    <nz-table
    #basicTable [nzData]="dataSet" 
    >
        <thead>
            <tr>  
                <th>零部件id</th>       
                <th>零部件名称</th>
                <th>编码</th>
                <th>应用车型</th>
                <th>备注</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of basicTable.data">
                <td>{{data.guid}}</td>
                <td>{{data.name}}</td>
                <td>{{data.code}} </td>
                <td>{{data.car}}</td>
                <td>{{data.remark}} </td>
                <td ><a nz-popconfirm nzTitle="确定删除该零部件?" (nzOnConfirm)="deleteRow(data.guid)">删除</a>                   
                </td>
            </tr>
        </tbody>
    </nz-table>

</div>
