<ul nz-menu nzMode="horizontal">

    <li nz-menu-item nzMatchRouter style="margin-left:15%;">
        <a [routerLink]="['/display', materialId, 'compression','table']">数据表</a> 
    </li>
    <li nz-menu-item nzMatchRouter>
        <a [routerLink]="['/display', materialId, 'compression','picture']">数据图</a>
    </li>
    <li nz-menu-item nzMatchRouter>
        <a [routerLink]="['/display', materialId, 'compression','report']">报告</a>
    </li>
    <li nz-menu-item nzMatchRouter>
        <a [routerLink]="['/display', materialId, 'compression', 'typical-part']">典型零部件</a>
    </li>
</ul>

