<!-- <h2 style="position: absolute; left: 40%; top: 400PX; color: blue;">实验数据详情</h2> -->

<div id="dataTable">
    <nz-table [nzData]=[{}] [nzFrontPagination]="false">
        <thead  >
          <tr>
            <th id="head">样件编号</th>
            <th id="head">标距</th>
            <th id="head">引伸计标距</th>
            <th id="head">规定非比例延伸率</th>
            <th id="head">试样直径(mm)</th>
            <th id="head">试样厚度a(mm)</th>
            <th id="head">试样宽度b(mm)</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of trialDataDetail" >
            <td>{{ data.sampleCode }}</td>
            <td>{{ data.gaugeDistance }}</td>
            <td></td>
            <td>{{ data.nonProportionalExtendRatio }}</td>
            <td>{{ data.diameter }}</td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
    </nz-table><br><br>
<nz-table [nzData]=[{}] [nzFrontPagination]="false">
  <thead >
            <tr>
              <th>样件编号</th>
              <th>屈服强度Rp(MPa)</th>
              <th>抗拉强度Rm(MPa)</th>
              <th>应变硬化指数(n)</th>
              <th>断后伸长率A(％)</th>
              <th>塑性应变比γ(%)</th>
              <th>弹性模量E(MPa)</th>
              <th>泊松比μ</th>
              <th>最大力Fm(kN)</th>
            </tr>
          </thead>
        <tbody>
          <tr *ngFor="let data of trialDataDetail" >
            <td>{{ data.sampleCode }}</td>
            <td>{{ data.yieldStrength }}</td>
            <td>{{ data.tensileStrength }}</td>
            <td>{{ data.strainHardening }}</td>
            <td>{{ data.elongation }}</td>
            <td>{{ data.plasticStrainRatio }}</td>
            <td>{{ data.modulusOfElasticity }}</td>
            <td>{{ data.poissonRatio }}</td>
            <td>{{ data.maximumForce }}</td>
          </tr>
        </tbody>
      </nz-table>
</div>

