.form{
    float: left;
    margin-left: 50px;
}
.block{
    border: solid rgb(36, 136, 250) 5px;
    height: 290px;
    width: 1300px;
    margin: auto;
    margin-top: 30px;
    border-radius: 20px;
}
#wyyy{
    float: left;
    color: rgb(60, 113, 228);
    font-size: large;
    font-family: "Microsoft YaHei";
    margin: 1.3% 15px;
    font-family: "Microsoft YaHei";
}
#lizhi{
    border:solid 0.1em #b8b8b8;
    height: 760px;
    width: 1300px;
    margin: 20px auto;
    border: solid 0.1em #b8b8b8;
    border-radius: 10px;
}
.solid-hr{
    margin-top: 5%;
    border: solid 0.03em rgb(221, 220, 220);
}
#shuaxin{
    float: right;
    margin: 1.3% 10px;
}