
  <form nz-form nzLayout="inline" class="components-table-demo-control-bar">
  <nz-form-item>
  <nz-form-label><label >对比</label></nz-form-label>
  <nz-form-control><nz-switch [(ngModel)]="checkbox" name="checkbox"></nz-switch></nz-form-control>            
</nz-form-item>
</form>

<nz-table
#rowSelectionTable
[nzData]="listOfAllData"
 [nzShowSizeChanger]=false
>
<thead>
  <tr >
    <th nzWidth="4%"
    *ngIf="checkbox"
      class="head"></th>
    <th nzWidth="15%" class="head" ><a routerLink="/materialss" class="head">材料名称</a></th>
    <th nzWidth="15%" class="head"><a routerLink="/factory" class="head">生产厂家</a></th>
    <th nzWidth="15%" class="head">型号规格</th>
    <th nzWidth="15%" class="head">卷号</th>
    <!-- <th nzWidth="14%" class="head"><a routerLink="/typicalpart" class="head1">典型零件</a></th>
    <th nzWidth="13%" class="head">应用车型</th> -->
    <th nzWidth="25%" class="head">检测日期</th>
    <th nzWidth="7%" class="head">操作</th>
  </tr>
</thead>
<tbody>
  <tr *ngFor="let data of rowSelectionTable.data" >
    <td nzShowCheckbox *ngIf="checkbox" [nzDisabled]="disabled" [(nzChecked)]="data.checked" (nzCheckedChange)="refreshStatus($event,data.materialId)" id="he" name="chk"
    ></td>
    <td class="he" >{{ data.name }}</td>
    <td class="he" >{{ data.manufacture }}</td>
    <td class="he" >{{ data.thickness }}</td>
    <td class="he">{{ data.reelNumber }}</td>
    <!-- <td id="he">{{ data.typicalPart }}</td>
    <td id="he">{{ data.appVehicle }}</td> -->
    <td class="he">{{ data.date }}</td>
    <td class="he"><a [routerLink]="['/display', data.materialId]" target="_blank">查看</a></td>
  </tr>
</tbody>
</nz-table>
<div id="xfk" *ngIf="checkList.length >=1&&checkbox" >
  <ul  >
    <li *ngFor="let data of checkList" ><span class="lt">{{ data.name }}</span><span class="lt">{{ data.manufacture }}</span>
      <span class="lt">{{ data.thickness }}</span><i nz-icon nzType="close" nzTheme="outline" (click)="shanchu(data.materialId)"></i></li>
  </ul> 
  <a  [routerLink]="['/contrast']" [queryParams]="{materialids:contrastID}" target="_blank">
    <button nz-button nzType="primary"  (click)="select()" > 开始对比</button>
  </a> 
</div>