<div id="dataTable" >
  <nz-table [nzData]=[{}] [nzFrontPagination]="false" id="table1" 
  nzBordered>
    <thead >
      <tr>
        <th  class="one" nzWidth="200px" *ngFor="let data of table[0].one">{{data}}</th>
      </tr>
    </thead>
    <tbody>
      <tr >
        <td class="one1" *ngFor="let data1 of table[0].key">{{trialDataDetail[0]?trialDataDetail[0][data1]:''}}</td>
      </tr>
    </tbody>
</nz-table><br><br><br><br>
    <nz-table [nzData]=[{}] [nzFrontPagination]="false" id="table2" nzBordered>
        <thead>
          <tr>
            <th nzWidth="150px" class="one" *ngFor="let data1 of table[1].one">{{data1}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let detail of trialDataDetail" >
            <td  class="one1" *ngFor="let data2 of table[1].key">{{ detail[data2] }}</td>
          </tr>
        </tbody>
      </nz-table><br>
</div>
