
#dataTable{
    position: absolute;
    left:25%;
    top: 160px;
    width: auto;
    
}
.one{
    text-align:center;
    background-color:rgba(107, 152, 248, 0.959);
    color:white;
    padding-top:8px;
    padding-bottom:8px;

}
#table1{
    width:1000px
}
#table2{
    width:750px;
    margin-top:30px
}
#table3{
    width:1320px;
    margin-top:30px
}
.one1{
    text-align:center;
    padding-top:8px;
    padding-bottom:8px;
}
#tablewid{
    width:1060px;
    overflow:auto
}
.ant-table-tbody > tr:hover:not(.ant-table-expanded-row) > td {
    background: white;
  }
/* #head{
    text-align:center;
    background-color:rgba(107, 152, 248, 0.959);
    color:white
}
#table{
    width:930px
}

#tabletwo{width:860px}
#tabless{width:320px}
#he{padding-top:8px;
    padding-bottom:8px;
    text-align:center;} */