<div id="dataTable">
  <nz-table [nzData]=[{}] [nzFrontPagination]="false" id="table1"  nzBordered>
    <thead >
      <tr>
        <th  class="one" nzWidth="200px" *ngFor="let data1 of  table1">{{data1}}</th>
      </tr>
    </thead>
    <tbody>
      <tr >
        <td class="one1" *ngFor="let data6 of  table6">{{one[0]?one[0][data6]:''}}</td>
      </tr>
    </tbody>
</nz-table>
        <nz-table [nzData]=[{}] [nzFrontPagination]="false" id="table2" nzBordered>
          <thead>
            <tr>
              <th nzWidth="150px"class="one" *ngFor="let data2 of  table2">{{data2}}</th>
            </tr>
          </thead>
          <tbody >
            <tr  *ngFor="let detail of  two;index as i">
              <td class="one1" [attr.rowspan]="i === 0 ? two.length : 1"  *ngIf="i==0">{{ mater[0] }}</td>
              <td class="one1" *ngFor="let data3 of  table3">{{ detail[data3] }}</td>
            </tr>
          </tbody>        
        </nz-table> 
   
        <div id="tablewid">
        <nz-table [nzData]=[{}] [nzFrontPagination]="false" id="table3" nzBordered>
          <thead>
            <tr>
              <th [nzWidth]="width[i]" class="one" *ngFor="let data4 of  table4;let i=index">
                <span *ngIf="('sampleCode,testTarget,thickness,gaugeDistance').indexOf(table5[i]) == -1; else other_content">
                  <span nz-tooltip [nzTooltipTitle]="titleTemplate">{{data4}}</span> 
                   <ng-template #titleTemplate>
                      <a (click)="contrastTable(table5[i], data4)">对比</a>
                    </ng-template>
              </span> 
              <ng-template #other_content><span #other_content>{{data4}}</span></ng-template>
              </th>              
            </tr>
          </thead>
          <tbody >
            <tr *ngFor="let details of one" >
              <td  class="one1" *ngFor="let data5 of  table5">{{details[data5]}}</td>
            </tr>
          </tbody>        
        </nz-table>
      </div> <br>
  </div>
  <nz-modal [(nzVisible)]="isVisible" nzTitle="对比" (nzOnOk)="handleOk()" (nzOnCancel)="handleCancel()">
    <div
      echarts
      [options]="options"
      style="height: 400px;position: relative;"
    ></div>
  </nz-modal>