<div id="dataTable">
  <nz-table [nzData]=[{}] [nzFrontPagination]="false" id="tableone"  nzBordered>
    <thead >
      <tr>
      <th  class="one" nzWidth="200px" *ngFor="let data1 of table1">{{data1}}</th>
      </tr>
    </thead>
    <tbody>
      <tr >
        <td class="one1" *ngFor="let data5 of table5">{{trialDataDetail[0]?trialDataDetail[0][data5]:''}}</td>
      </tr>
    </tbody>
</nz-table><br><br><br><br>
<div id="tablewid">
    <nz-table [nzData]=[{}] [nzFrontPagination]="false" id="tabletwo" nzBordered>
        <thead>
          <tr >
            <th [nzWidth]="table4[i]" class='one' *ngFor="let data2 of table2;let i=index">
              <span *ngIf="('sampleCode,width,thickness,diameter,length,span').indexOf(table3[i]) == -1; else other_content"><span nz-tooltip [nzTooltipTitle]="titleTemplate"> {{ data2 }} </span>
              <ng-template #titleTemplate>
                <a (click)="contrastTable(table3[i], data2)">对比</a>
              </ng-template>
            </span>
              <ng-template #other_content><span #other_content> {{data2}} </span> </ng-template>              
            </th>
          </tr>
        </thead>
        <tbody >
          <tr *ngFor="let detail of trialDataDetail" >
            <td class='one1' *ngFor="let data3 of table3">{{detail[data3]}}</td>
          </tr>
        </tbody>
      </nz-table>
    </div>
</div>

<nz-modal [(nzVisible)]="isVisible" nzTitle="对比" (nzOnOk)="handleOk()" (nzOnCancel)="handleCancel()">
      <div
        echarts
        [options]="options"
        style="height: 400px;position: relative;"
      ></div>
    </nz-modal>