#dataTable{
    position: absolute;
    left:30%;
    top: 160px;
    width: auto;
    
}
.one{
    text-align:center;
    background-color:rgba(107, 152, 248, 0.959);
    color:white;
    padding-top:8px;
    padding-bottom:8px;

}
.one1{
    text-align:center;
    padding-top:8px;
    padding-bottom:8px;
}
#tableone{
    width:400px
}
#tabletwo{
    width:1060px
}
#tablewid{
    width:1060px;
    overflow:auto
}

/* 抽屉按钮 */
#drawerBtn{
    position: absolute;
    top: 50px;
    left: 90%;
}