.form{
    float: left;
    margin-left: 50px;
}

.block{
    border: solid rgb(36, 136, 250) 5px;
    height: 400px;
    width: 880px;
    margin: auto;
    margin-top: 60px;
    border-radius: 20px;
}

#manufactory{
    padding-top: 50px;
}

.ma{
    float: left;
    margin-left: 50px; 
}

#materialTrial{
    height: 360px;
}