<ul nz-menu nzMode="horizontal" >

    <li nz-menu-item nzMatchRouter  style="margin-left:15%;">
        <a [routerLink]="['/display', materialId, 'static-tension-home','table']">数据表</a> 
    </li>
    <li nz-menu-item nzMatchRouter>
        <a [routerLink]="['/display', materialId, 'static-tension-home','picture']">数据图</a>
    </li>
    <li nz-menu-item nzMatchRouter>
        <a [routerLink]="['/display', materialId, 'static-tension-home','report']">报告</a>
    </li>
    <li nz-menu-item nzMatchRouter>
        <a [routerLink]="['/display', materialId, 'static-tension-home','typical-part']">典型零部件</a>
    </li>
    
</ul>
