#dataTable{
    position: absolute;
    left:25%;
    top: 160px;
    width: auto;
    
}
.one{
    text-align:center;
    background-color:rgba(107, 152, 248, 0.959);
    color:white;
    padding-top:8px;
    padding-bottom:8px;

}
.one1{
    text-align:center;
    padding-top:8px;
    padding-bottom:8px;}
#table1{
    width:800px
}
#table2{
    width:auto;
    margin-top:30px;
   
}
#tablewid{
    width:1100px;
    overflow:auto
}