
<!-- <app-details-navigate></app-details-navigate> -->

<!-- <app-details-data></app-details-data> -->
<!-- <app-bending></app-bending> -->
<!-- <app-highspeedstrech></app-highspeedstrech> -->
<!-- <app-lowcyclefatigue></app-lowcyclefatigue> -->
<!-- <app-highcyclefatigue></app-highcyclefatigue> -->
<!-- <app-metallographic></app-metallographic> -->
<!-- <app-physicalperformance></app-physicalperformance> -->
<!-- <app-chemicalelement></app-chemicalelement> -->
<!-- <app-prohibited-substance></app-prohibited-substance> -->
<!-- <app-surface-property></app-surface-property> -->
<!-- <app-dent-resistance></app-dent-resistance> -->
<!-- <app-secondary-working-embrittlement></app-secondary-working-embrittlement> -->
<!-- <app-flanging-clasp></app-flanging-clasp> -->
<!-- <app-welding></app-welding> -->
<!-- <app-cementing></app-cementing> -->
<!-- <app-hydrogen-induced-delayed-fracture></app-hydrogen-induced-delayed-fracture> -->
<!-- <app-fld></app-fld> -->
<!-- <app-rebound></app-rebound> -->
<!-- <app-bake-hardening></app-bake-hardening> -->
<!-- <app-painting></app-painting> -->