<ul nz-menu nzMode="horizontal">

    <li nz-menu-item nzMatchRouter style="margin-left:15%;">
        <a [routerLink]="['/display', materialId, 'highspeedstrech','table']">数据表</a> 
    </li>
    <li nz-menu-item nzMatchRouter>
        <a [routerLink]="['/display', materialId, 'highspeedstrech','picture']">数据图</a>
    </li>
    <li nz-menu-item nzMatchRouter>
        <a [routerLink]="['/display', materialId, 'highspeedstrech', 'report']">报告</a>
    </li>
    <li nz-menu-item nzMatchRouter>
        <a [routerLink]="['/display', materialId, 'highspeedstrech','typical-part']">典型零部件</a>
    </li>
    
</ul>