
#search-part{
    background-image: url('../../assets/images/material-firstpage-search-background.png') ;
    background-size: cover;
    height:100px;
    background-position:top;
}

#search-box{
    width: 800px;
    height: 50px;
    margin: auto;
    padding-top:40px;
}