#dataTable{
    position: absolute;
    left:30%;
    top: 160px;
    width: auto;
    
}

.one{
    text-align:center;
    background-color:rgba(107, 152, 248, 0.959);
    color:white;
    padding-top:8px;
    padding-bottom:8px;

}
.one1{
    text-align:center;
    padding-top:8px;
    padding-bottom:8px;
}
#table1{
    width:400px
}
#table2{
    width:650px
}
    .footer {
        position: absolute;
        bottom: 0px;
        width: 100%;
        border-top: 1px solid rgb(232, 232, 232);
        padding: 10px 16px;
        text-align: right;
        left: 0px;
        background: #fff;
        }
    
    /* 抽屉按钮 */
    #drawerBtn{
        position: absolute;
        top: 50px;
        left: 90%;
    }