#dataTable{
    position: absolute;
    left:30%;
    top: 160px;
    width: auto;
    
}
.one{
    text-align:center;
    background-color:rgba(107, 152, 248, 0.959);
    color:white;
    padding-top:8px;
    padding-bottom:8px;

}
.one1{
    text-align:center;
    padding-top:8px;
    padding-bottom:8px;
}
#table1{
    width:400px;
    margin-top:30px
}
#table2{
    width:1000px;
    margin-top:30px
}