<div>
    <table>
        <tr>
            <td>DC01</td>
            <td>邯钢</td>
            <td>1.2mm</td>
            <td>典型零件</td>
            <td>应用车型</td>
        </tr>
        <tr>
            <td>DC01</td>
            <td>邯钢</td>
            <td>1.2mm</td>
            <td>典型零件</td>
            <td>应用车型</td>
        </tr>
        <tr>
            <td>DC01</td>
            <td>邯钢</td>
            <td>1.2mm</td>
            <td>典型零件</td>
            <td>应用车型</td>
        </tr>
        <tr>
            <td>DC01</td>
            <td>邯钢</td>
            <td>1.2mm</td>
            <td>典型零件</td>
            <td>应用车型</td>
        </tr>
        <br/>
        <br/>

    </table>
    <a routerLink="/contrast"><button>开始对比</button></a>
</div>