<div id="dataTable">
  <nz-table [nzData]=[{}] [nzFrontPagination]="false" id="{{data.table}}"  
  *ngFor="let data of table" nzBordered >
    <thead >
      <tr>
        <th nzWidth="200px" class="one" *ngFor="let data1 of data.one">{{data1}}</th>
      </tr>
    </thead>
    <tbody  >
      <tr *ngFor="let data2 of this[data.name]">
        <td class="one1" *ngFor="let data3 of data.key">{{ data2[data3]}}</td>
      </tr>
    </tbody>
</nz-table><br><br>
    <nz-table [nzData]=[{}] [nzFrontPagination]="false" id="{{data.table}}" 
    *ngFor="let data of table2" nzBordered>
        <thead>
          <tr>
            <th colspan="3"  class="one" *ngFor="let data1 of data.one">{{data1}}</th>
          </tr>
        </thead>
        <tbody >
          <tr *ngFor="let data2 of this[data.name]" >
            <td class="one1" *ngFor="let data3 of data.key">{{ data2[data3] }}</td>
          </tr>
        </tbody>        
      </nz-table> <br> <br> <br>
      <nz-table [nzData]=[{}] [nzFrontPagination]="false" id="{{data.table}}" 
      *ngFor="let data of table1" nzTitle="{{data.title}}" nzBordered>
        <tbody >
          <tr *ngFor="let data1 of this[data.name]" >
            <td class="one1" *ngFor="let data2 of this[data.name]" nzWidth="150px">{{ data1[data2] }}</td>
          </tr>
        </tbody>        
      </nz-table> <br>
</div>

